*
{
    margin: 0%;
    padding: 0%;
    transition: all .5s ease-in 0.5s;
    scroll-behavior: smooth;
}
::selection
{
    background-color:rgb(97, 137, 212);
}
/* scroll-bar */
::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-track
{
    background-color: #333;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb
{
    background-color:rgb(97, 137, 212);
    border-radius: 50px;
}
/* end of scrollbar */
/* .container-fluid
{
    position: fixed;
    top: 0%;
    z-index: 5;
    background-color: rgb(33, 37, 41);
} */
.navbar-nav a
{
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin: 15px;
}
.navbar-nav a:hover
{
    color: rgb(97, 137, 212);
    border-top: 2px dotted rgb(97, 137, 212);
    transition: all .5s ease-in;
    transform: scale(1.0);
}
.navbar-toggler-icon
{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
/* table-form */
section
{
    background-color:rgb(148, 194, 240);
    height: 86vh;
}
table
{
    box-shadow: 0px 0px 50px black;
}
.table-form
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
section h5
{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    opacity: 0.8;
    padding: 30px;
}
.table-form .photo img
{
    width: 600px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 100px black;
    cursor: pointer;
}
/* login-btn */
.login-btn
{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 5rem auto;
}
.login-btn .btn
{
    box-sizing: border-box;
    box-shadow: 0 0 2rem grey;
    background-color: aliceblue;
}
.login-btn .btn a
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.login-btn .btn:hover
{
    transform: scale(1.1);
    transition:  400ms;
}
@media (max-width:1864.98px)
{
    .table-form .photo img
    {
        width: 500px;
        height: 350px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:999.98px)
{
    section
    {
        background-color:rgb(148, 194, 240);
        height: 84.2vh;
    }
    .table-form .photo img
    {
        width: 400px;
        height: 325px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:799.98px)
{
    section
    {
        background-color:rgb(148, 194, 240);
        height: 84.2vh;
    }
    .table-form .photo img
    {
        width: 300px;
        height: 250px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:599.98px)
{
    .table-form
    {
        display: block;
        text-align: center;
    }
    section
    {
        background-color:rgb(148, 194, 240);
        height: 100vh;
    }
    .table-format
    {
        width: 300px;
        margin: 20px auto;
        height: 250px;
        border: 1px solid;
        
    }
}
@media (max-width:457.98px)
{
    section
    {
        background-color:rgb(148, 194, 240);
        height: 100vh;
    }
}
@media (max-width:303.98px)
{
    section
    {
        background-color:rgb(148, 194, 240);
        height: 100vh;
    }
    .table-form .photo img
    {
        width: 200px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:299.98px)
{
    .table-form .photo img
    {
        width: 200px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:211.98px)
{
    .table-form .photo img
    {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0px 0px 100px black;
        cursor: pointer;
    }
}
@media (max-width:213.98px)
{
    .navbar-brand img
    {
        width: 150px !important;
    }
}